{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "Honeywell Garage",
      "Space": "Hackathon1_Brno_Team6"
    },
    "Name": "IMSJavaService",
    "Instrumentation": {}
  },
  "Path": "",
  "Type": "Cloud Foundry"
}